<template>
  <v-layout justify-center row wrap class="text-xs-center">
    <v-flex xs12 mb-2>
      <h1>Cash Out</h1>
    </v-flex>
    <v-flex xs12 pa-2 mt-5>
      <v-checkbox label="Hide completed transactions" v-model="hideComp"></v-checkbox>
      <v-data-table
        :headers="headers"
        :items="cashOut"
        :rows-per-page-items="pages"
        class="elevation-1"
      >
        <template slot="items" slot-scope="props">
          <td class="text-xs-center">{{ props.item.log_id | moneyText }}</td>
          <td class="text-xs-center">{{ props.item.username }}</td>
          <td class="text-xs-center">{{ props.item.to_address }}</td>
          <td class="text-xs-center">
            <a
              href="javascript:;"
              @click="showTxId(props.item.txid)"
            >{{ props.item.txid | txIdText }}</a>
          </td>
          <td class="text-xs-center">{{ props.item.money | moneyText}}</td>
          <td class="text-xs-center">{{ props.item.coin | moneyText}}</td>
          <td class="text-xs-center">{{ props.item.status }}</td>
          <td class="text-xs-center">{{ props.item.date_time }}</td>
          <td class="text-xs-center" v-if="props.item.is_confirm == 0">
            <v-btn
              color="primary"
              @click="showWithdrawConfirm(props.item.log_id, props.item.coin)"
            >Withdraw</v-btn>
          </td>
          <td
            class="text-xs-center"
            v-else
          >{{ props.item.is_confirm == 1 ? "Accepted" : "Rejected" }}</td>
        </template>
      </v-data-table>
    </v-flex>
  </v-layout>
</template>

<script>
import global from "../global.js";

// let offsetDate = new Date(
//   new Date().getTime() - new Date().getTimezoneOffset() * 60000
// );

const txIdText = txid => {
  let textTxid = txid;
  if (txid && txid.indexOf("omniexplorer.info") > -1) {
    let listText = txid.split("/tx/");
    textTxid = listText[listText.length - 1];
  }
  return textTxid;
};

export default {
  data: () => ({
    isLoading: false,
    headers: [
      { text: "#", sortable: false, align: "center" },
      { text: "Account Name", sortable: false, align: "center" },
      { text: "USDT Address", sortable: false, align: "center" },
      { text: "TxID", sortable: false, align: "center" },
      { text: "Gem Cash", sortable: false, align: "center" },
      { text: "USDT Equilavent", sortable: false, align: "center" },
      { text: "Status", sortable: false, align: "center" },
      { text: "Time", sortable: false, align: "center" },
      { text: "Action", sortable: false, align: "center" }
    ],
    cashOutRaw: [],
    hideComp: true,
    pages: [10, 25, { text: "$vuetify.dataIterator.rowsPerPageAll", value: -1 }]
  }),
  computed: {
    cashOut() {
      return this.cashOutRaw.filter(e => !this.hideComp || !e.is_confirm);
    }
  },
  methods: {
    async search() {
      this.isLoading = true;
      const res = await global.fetch("list_cash_usdt");

      this.isLoading = false;
      if (res.status < 0) {
        global.handleError(res);
        return;
      }

      this.cashOutRaw = res.data;
    },
    showTxId(txid) {
      window
        .open(`https://omniexplorer.info/tx/${this.txIdText(txid)}`, "_blank")
        .focus();
    },
    txIdText: txIdText,
    showWithdrawConfirm(logId, usdt) {
      global.showNoti({
        visible: true,
        header: "Confirm",
        text: `Confirm withdraw $${usdt}?`,
        actions: [
          {
            text: "Accept",
            click: this.updateWithdraw.bind(this, logId, 1)
          },
          {
            text: "Reject",
            click: this.updateWithdraw.bind(this, logId, 2)
          },
          {
            text: "Cancel",
            color: "red darken-4",
            click: global.hideNoti
          }
        ]
      });
    },
    async updateWithdraw(logId, status) {
      const res = await global.fetch("confirm_withdraw", {
        log_id: logId,
        confirm: status
      });

      if (res.status < 0) {
        global.handleError(res);
        return;
      }

      global.showNoti({
        visible: true,
        header: "Confirm",
        text: `Success`,
        close: () => {
          this.search();
        }
      });
    }
  },
  filters: {
    moneyText: global.moneyText,
    txIdText: txIdText
  },
  async created() {
    await this.search();
  }
};
</script>

