<template>
  <v-layout justify-center row wrap class="text-xs-center">
    <v-flex xs12 mb-2>
      <h1>Cash In</h1>
      <v-flex xs12 sm8 md6 lg4 mb-2 style="margin: 0 auto;">
        <v-text-field label="Filter TxID" value v-model="txidFilter"></v-text-field>
        <v-btn
          color="primary"
          :loading="isLoading"
          :disabled="!uidAdd || !txidAdd || isLoading"
          @click="showNotiAddMoney"
        >Add YEA</v-btn>
      </v-flex>
    </v-flex>
    <v-flex xs12 pa-2>
      <h1>Wallet Receive</h1>
      <v-checkbox label="Hide completed transactions" v-model="hideCompWallet"></v-checkbox>
      <v-data-table
        :headers="headerWallets"
        :items="filterCashIn"
        :rows-per-page-items="pages"
        class="elevation-1"
      >
        <template slot="items" slot-scope="props">
          <td class="text-xs-center">{{ props.item.log_id | moneyText }}</td>
          <td class="text-xs-center">{{ props.item.from_address }}</td>
          <td class="text-xs-center">
            <a
              href="javascript:;"
              @click="showTxId(props.item.txid)"
            >{{ props.item.txid | txIdText }}</a>
          </td>
          <td class="text-xs-center">{{ props.item.date_time }}</td>
          <td class="text-xs-center">{{ props.item.money | moneyText }}</td>
          <td class="text-xs-center">{{ props.item.coin | moneyText }}</td>
          <td class="text-xs-center">{{ props.item.gm_check == 1 ? "Added" : "Pending" }}</td>
        </template>
      </v-data-table>
      <br>
      <br>
      <h1>Add YEA Request</h1>
      <v-checkbox label="Hide completed transactions" v-model="hideCompRequest"></v-checkbox>
      <v-data-table
        :headers="headerRequests"
        :items="filterRequest"
        :rows-per-page-items="pages"
        class="elevation-1"
      >
        <template slot="items" slot-scope="props">
          <td class="text-xs-center">{{ props.item.log_id | moneyText }}</td>
          <td class="text-xs-center">{{ props.item.account_id }}</td>
          <td class="text-xs-center">
            <a
              href="javascript:;"
              @click="showTxId(props.item.tx_id)"
            >{{ props.item.tx_id | txIdText }}</a>
          </td>
          <td class="text-xs-center">{{ props.item.floor_name }}</td>
          <td class="text-xs-center">{{ props.item.date_time }}</td>
          <td class="text-xs-center">{{ props.item.status }}</td>
          <td class="text-xs-center">
            <v-btn color="primary" @click="showNotiUpdate(props.item.log_id)">Update Status</v-btn>
          </td>
        </template>
      </v-data-table>
    </v-flex>
  </v-layout>
</template>

<script>
import global from "../global.js";

// let offsetDate = new Date(
//   new Date().getTime() - new Date().getTimezoneOffset() * 60000
// );

const txIdText = txid => {
  let textTxid = txid;
  if (txid && txid.indexOf("omniexplorer.info") > -1) {
    let listText = txid.split("/tx/");
    textTxid = listText[listText.length - 1];
  }
  return textTxid;
};

export default {
  data: () => ({
    isLoading: false,
    headerWallets: [
      { text: "#", sortable: false, align: "center" },
      { text: "USDT Address", sortable: false, align: "center" },
      { text: "TxID", sortable: false, align: "center" },
      { text: "Time", sortable: false, align: "center" },
      { text: "YEA Add", sortable: false, align: "center" },
      { text: "USDT Equilavent", sortable: false, align: "center" },
      { text: "Status", sortable: false, align: "center" }
    ],
    headerRequests: [
      { text: "#", sortable: false, align: "center" },
      { text: "User ID", sortable: false, align: "center" },
      { text: "TxID", sortable: false, align: "center" },
      { text: "Exchange", sortable: false, align: "center" },
      { text: "Time", sortable: false, align: "center" },
      { text: "Status", sortable: false, align: "center" },
      { text: "Update", sortable: false, align: "center" }
    ],
    cashInRaw: [],
    requestRaw: [],
    txidFilter: "",
    hideCompWallet: true,
    hideCompRequest: true,
    pages: [10, 25, { text: "$vuetify.dataIterator.rowsPerPageAll", value: -1 }]
  }),
  computed: {
    cashIn() {
      return this.cashInRaw.filter(e => !this.hideCompWallet || !e.gm_check);
    },
    requests() {
      return this.requestRaw.filter(
        e =>
          !this.hideCompRequest || !["Confirmed", "Reject"].includes(e.status)
      );
    },
    filterCashIn() {
      return this.txidFilter.length == 0
        ? this.cashIn
        : this.cashIn.filter(e => e.txid.includes(this.txidFilter));
    },
    filterRequest() {
      return this.txidFilter.length == 0
        ? this.requests
        : this.requests.filter(e => e.tx_id.includes(this.txidFilter));
    },
    txidAdd() {
      return this.filterCashIn.length != 1 ? 0 : this.filterCashIn[0].txid;
    },
    moneyAdd() {
      return this.filterCashIn.length != 1 ? 0 : this.filterCashIn[0].money;
    },
    uidAdd() {
      return this.filterRequest.length != 1
        ? 0
        : this.filterRequest[0].account_id;
    }
  },
  methods: {
    async loadPage() {
      this.isLoading = true;
      let cashPromise = global.fetch("list_charge_usdt");
      let requestPromise = global.fetch("pay_history_user_send_txid");

      const resCash = await cashPromise;
      const resRequest = await requestPromise;

      this.isLoading = false;
      if (resCash.status < 0) {
        global.handleError(resCash);
        return;
      }
      if (resRequest.status < 0) {
        global.handleError(resRequest);
        return;
      }

      this.cashInRaw = resCash.data;
      this.requestRaw = resRequest.data;
    },
    showTxId(txid) {
      window
        .open(`https://omniexplorer.info/tx/${this.txIdText(txid)}`, "_blank")
        .focus();
    },
    showNotiAddMoney() {
      global.showNoti({
        visible: true,
        header: "Confirm",
        text: `Confirm add ${global.moneyText(this.moneyAdd)} YEA for uid ${
          this.uidAdd
        }?`,
        actions: [
          {
            text: "Not Add",
            color: "red darken-4",
            click: global.hideNoti
          },
          {
            text: "Confirm",
            click: this.addMoney.bind(this)
          }
        ]
      });
    },
    showNotiUpdate(log_id) {
      global.showNoti({
        visible: true,
        header: "Update status",
        text: `Change status of request`,
        actions: [
          {
            text: "Pending",
            click: this.updateStatus.bind(this, log_id, 1)
          },
          {
            text: "Confirmed",
            click: this.updateStatus.bind(this, log_id, 2)
          },
          {
            text: "Reject",
            click: this.updateStatus.bind(this, log_id, -1)
          },
          {
            text: "Cancel",
            color: "red darken-4",
            click: global.hideNoti
          }
        ]
      });
    },
    async updateStatus(id, status, comment = "") {
      const res = await global.fetch("confirm_coin", {
        log_id: id,
        comment: comment,
        status: status
      });

      if (res.status < 0) {
        global.handleError(res);
        return;
      }

      global.showNoti({
        visible: true,
        header: "Confirm",
        text: `Success`,
        close: () => {
          this.loadPage();
        }
      });
    },
    async addMoney() {
      const res = await global.fetch("add_balanceuser", {
        id: this.uidAdd,
        txid: this.txidAdd
      });

      if (res.status < 0) {
        global.handleError(res);
        return;
      }

      global.showNoti({
        visible: true,
        header: "Confirm",
        text: `Success`,
        close: () => {
          this.loadPage();
        }
      });
    },
    txIdText: txIdText
  },
  filters: {
    moneyText: global.moneyText,
    txIdText: txIdText
  },
  async created() {
    await this.loadPage();
  }
};
</script>

