<template>
  <v-layout 
    justify-center
    row
    wrap
    class="text-xs-center"
  >
    <v-flex xs12 sm8 md6 lg4 mb-4>
      <h1>Game Revenue</h1>
      <v-select
        v-model="selectGame"
        :items="listGame"
        item-text="game_name"
        item-value="gameid"
        label="Game"
      ></v-select>
      <v-menu
        :close-on-content-click="false"
        v-model="startPicker"
        :nudge-right="40"
        lazy
        transition="scale-transition"
        offset-y
        full-width
        min-width="290px"
        min="2018-11-11"
      >
        <v-text-field
          slot="activator"
          v-model="formatStartDate"
          label="From"
          prepend-icon="event"
          readonly
        ></v-text-field>
        <v-date-picker v-model="startDate"></v-date-picker>
      </v-menu>
      <v-menu
        :close-on-content-click="false"
        v-model="endPicker"
        :nudge-right="40"
        lazy
        transition="scale-transition"
        offset-y
        full-width
        min-width="290px"
      >
        <v-text-field
          slot="activator"
          v-model="formatEndDate"
          label="To"
          prepend-icon="event"
          readonly
        ></v-text-field>
        <v-date-picker v-model="endDate"></v-date-picker>
      </v-menu>
      <v-btn
        color="primary"
        :loading="isLoading" 
        :disabled="isLoading" 
        @click="search"
      >
        Search
      </v-btn>
    </v-flex>
    <v-flex xs12>
      <v-data-table
        :headers="headers"
        :items="items"
        class="elevation-1"
      >
        <template slot="items" slot-scope="props">
          <td class="text-xs-center">{{ props.item.date_time }}</td>
          <td class="text-xs-center">{{ props.item.hour }}</td>
          <td class="text-xs-center">{{ props.item.total_bet | moneyText }}</td>
          <td class="text-xs-center">{{ props.item.total_win | moneyText }}</td>
          <td class="text-xs-center">{{ props.item.total_bet - props.item.total_win | moneyText }}</td>
          <td class="text-xs-center">{{ ((props.item.total_bet - props.item.total_win) / props.item.total_win ) | percent  }}</td>
        </template>
      </v-data-table>
    </v-flex>
  </v-layout>
</template>

<script>
import global from "../global.js";

let offsetDate = new Date(new Date().getTime() - new Date().getTimezoneOffset() * 60000);

export default {
  data: () => ({
    selectGame: 0,
    listGame: [],
    startPicker: false,
    startDate: offsetDate.toISOString().substr(0, 10),
    endPicker: false,
    endDate: offsetDate.toISOString().substr(0, 10),
    isLoading: false,
    headers: [
      { text: "Time", sortable: false, align: "center" },
      { text: "Hour", sortable: false, align: "center" },
      { text: "Total Bet", sortable: false, align: "center" },
      { text: "Total Prize", sortable: false, align: "center" },
      { text: "Revenue", sortable: false, align: "center" },
      { text: "Revenue %", sortable: false, align: "center" }
    ],
    items: []
  }),
  computed: {
    formatStartDate() {
      return global.formatDate(this.startDate);
    },
    formatEndDate() {
      return global.formatDate(this.endDate);
    },
    startDateInt() {
      return global.formatDateInt(this.startDate);
    },
    endDateInt() {
      return global.formatDateInt(this.endDate);
    }
  },
  methods: {
    async search() {
      if (!this.selectGame) return;

      this.isLoading = true;
      const res = await global.fetch("get_report_game", {
        gameId: this.selectGame,
        start_date: this.startDateInt,
        end_date: this.endDateInt
      });

      this.isLoading = false;
      if (res.status < 0) {
        global.handleError(res);
        return;
      }
      this.items = res.data;
    }
  },
  filters: {
    moneyText: global.moneyText,
    percent(number) {
      return (number * 100).toFixed(2) + "%";
    }
  },
  async created() {
    this.listGame = await global.getListGame();
  }
};
</script>

