<template>
  <v-layout 
    justify-center
    row
    wrap
    class="text-xs-center"
  >
     <v-flex xs12 mb-2>
      <h1>Game Revenue</h1>
    </v-flex>

    <v-flex xs12 sm6 md4 lg3 pa-2>
      <!-- <v-select
        v-model="selectGame"
        :items="listGame"
        item-text="game_name"
        item-value="gameid"
        label="Game"
      ></v-select> -->
      <v-menu
        :close-on-content-click="false"
        v-model="startPicker"
        :nudge-right="40"
        lazy
        transition="scale-transition"
        offset-y
        full-width
        min-width="290px"
      >
        <v-text-field
          slot="activator"
          v-model="formatStartDate"
          label="From"
          prepend-icon="event"
          readonly
        ></v-text-field>
        <v-date-picker v-model="startDate"></v-date-picker>
      </v-menu>
    </v-flex>
    <v-flex xs12 sm6 md4 lg3 pa-2>
      <v-menu
        :close-on-content-click="false"
        v-model="endPicker"
        :nudge-right="40"
        lazy
        transition="scale-transition"
        offset-y
        full-width
        min-width="290px"
      >
        <v-text-field
          slot="activator"
          v-model="formatEndDate"
          label="To"
          prepend-icon="event"
          readonly
        ></v-text-field>
        <v-date-picker v-model="endDate"></v-date-picker>
      </v-menu>
    </v-flex>
    <v-flex xs12 mb-4>
      <v-btn
        color="primary"
        :loading="isLoading" 
        :disabled="isLoading" 
        @click="search"
      >
        Search
      </v-btn>
    </v-flex>
    <v-flex xs12 sm6 md4 lg3 pa-2>
      <v-card style="color: white; background-color: #43A047; border-radius: 7px;">
          <div style="padding: 5px;">
            <span class="display-1">Total Bet</span><br><br>
            <span class="subheading">{{ allBet | moneyText }}</span><br>
          </div>
      </v-card>
    </v-flex>
    <v-flex xs12 sm6 md4 lg3 pa-2>
      <v-card style="color: white; background-color: #F4511E; border-radius: 7px;">
          <div style="padding: 5px;">
            <span class="display-1">Total Prize</span><br><br>
            <span class="subheading">{{ allPrize | moneyText }}</span><br>
          </div>
      </v-card>
    </v-flex>
    <v-flex xs12 sm6 md4 lg3 pa-2>
      <v-card style="color: white; background-color: #0288D1; border-radius: 7px;">
          <div style="padding: 5px;">
            <span class="display-1">Revenue</span><br><br>
            <span class="subheading">{{ allRevenue | moneyText }} ({{ allRevenue / allBet | percent }})</span><br>
          </div>
      </v-card>
    </v-flex>
    <v-flex xs12>
    </v-flex>
    <v-flex xs12 sm6 pa-2 mt-5>
      <v-list two-line>
        <v-list-group
          v-for="(game, id) in eachGame"
          :key="id"
          v-model="game.active"
          no-action
        >
          <v-list-tile slot="activator">
            <v-list-tile-content>
              <div class="title">
                {{ game.name }}<span style="position: absolute; right: 0;" :style="{ color: game.bet > game.prize ? '#43A047' : '#F4511E' }">{{ game.bet - game.prize | moneyText }} ({{ (game.bet - game.prize) / game.bet | percent }})</span>
              </div>
              <v-list-tile-title class="text-xs-right align-end" style="margin-top: 2px;"><span>Bet: {{ game.bet | moneyText }}</span> | <span>Prize: {{ game.prize | moneyText }}</span></v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>

          <v-data-table
            :headers="headers"
            :items="game.dates"
            class="elevation-1"
          >
            <template slot="items" slot-scope="props">
              <td class="text-xs-center">{{ props.item.date_int | parseDateInt }}</td>
              <td class="text-xs-center">{{ props.item.total_bet | moneyText }}</td>
              <td class="text-xs-center">{{ props.item.total_win | moneyText }}</td>
              <td class="text-xs-center">{{ props.item.total_bet - props.item.total_win | moneyText }}</td>
              <td class="text-xs-center">{{ props.item.total_bet == 0 ? '0%' : ((props.item.total_bet - props.item.total_win) / props.item.total_bet ) | percent  }}</td>
            </template>
          </v-data-table>
        </v-list-group>
      </v-list>
    </v-flex>
  </v-layout>
</template>

<script>
import global from "../global.js";

let offsetDate = new Date(
  new Date().getTime() - new Date().getTimezoneOffset() * 60000
);

export default {
  data: () => ({
    selectGame: 0,
    listGame: [],
    startPicker: false,
    startDate: offsetDate.toISOString().substr(0, 10),
    endPicker: false,
    endDate: offsetDate.toISOString().substr(0, 10),
    isLoading: false,
    headers: [
      { text: "Date", sortable: false, align: "center" },
      { text: "Total Bet", sortable: false, align: "center" },
      { text: "Total Prize", sortable: false, align: "center" },
      { text: "Revenue", sortable: false, align: "center" },
      { text: "Revenue %", sortable: false, align: "center" }
    ],
    items: []
  }),
  computed: {
    formatStartDate() {
      return global.formatDate(this.startDate);
    },
    formatEndDate() {
      return global.formatDate(this.endDate);
    },
    startDateInt() {
      return global.formatDateInt(this.startDate);
    },
    endDateInt() {
      return global.formatDateInt(this.endDate);
    },
    allBet() {
      return this.items.reduce((total, item) => (total += item.total_bet), 0);
    },
    allPrize() {
      return this.items.reduce((total, item) => (total += item.total_win), 0);
    },
    allRevenue() {
      return this.allBet - this.allPrize;
    },
    eachGame() {
      return this.items.reduce((games, item) => {
        if (!games[item.game_id]) {
          const gameName = this.listGame
            .filter(gameData => gameData.gameid == item.game_id)
            .map(item => item.game_name)[0];
          games[item.game_id] = {
            id: item.game_id,
            name: gameName,
            active: false,
            bet: 0,
            prize: 0,
            dates: []
          };
        }
        games[item.game_id].bet += item.total_bet;
        games[item.game_id].prize += item.total_win;
        games[item.game_id].dates.push(item);
        return games;
      }, {});
    }
  },
  methods: {
    async search() {
      this.isLoading = true;
      const res = await global.fetch("report_game", {
        game_id: 0,
        start_date: this.startDateInt,
        end_date: this.endDateInt
      });

      this.isLoading = false;
      if (res.status < 0) {
        global.handleError(res);
        return;
      }
      this.items = res.data;
    }
  },
  filters: {
    moneyText: global.moneyText,
    parseDateInt: global.parseDateInt,
    percent(number) {
      return (number * 100).toFixed(2) + "%";
    }
  },
  async created() {
    this.listGame = await global.getListGame();
    await this.search();
  }
};
</script>

