<template>
  <v-layout justify-center row wrap class="text-xs-center">
    <v-flex xs12 mb-2>
      <h1>Pending Request Add Money</h1>
    </v-flex>
    <v-flex xs12 pa-2 mt-5>
      <v-data-table :headers="headers" :items="requestFromUser" class="elevation-1">
        <template slot="items" slot-scope="props">
          <td class="text-xs-center">{{ props.item.log_id | moneyText }}</td>
          <td class="text-xs-center">
            <a href="javascript:;" @click="showTxId(props.item.tx_id)">{{ props.item.tx_id }}</a>
          </td>
          <td class="text-xs-center">{{ props.item.floor_name }}</td>
          <td class="text-xs-center">{{ props.item.date_time }}</td>
          <td class="text-xs-center">{{ props.item.status }}</td>
          <td class="text-xs-center">
            <v-btn color="primary" @click="showNotiUpdate(props.item.log_id)">Update Status</v-btn>
          </td>
        </template>
      </v-data-table>
    </v-flex>
  </v-layout>
</template>

<script>
import global from "../global.js";

// let offsetDate = new Date(
//   new Date().getTime() - new Date().getTimezoneOffset() * 60000
// );

export default {
  data: () => ({
    isLoading: false,
    headers: [
      { text: "#", sortable: false, align: "center" },
      { text: "TxID", sortable: false, align: "center" },
      { text: "Exchange", sortable: false, align: "center" },
      { text: "Time", sortable: false, align: "center" },
      { text: "Status", sortable: false, align: "center" },
      { text: "Update Status", sortable: false, align: "center" }
    ],
    requestFromUser: []
  }),
  computed: {},
  methods: {
    async search() {
      this.isLoading = true;
      const res = await global.fetch("pay_history_user_send_txid");
      //{"status":0,"desc":null,"token":"","data":[{"log_id":1,"floor_name":"Binance","tx_id":"e39e5ddd53585f805a31af9446d2b95c4e436808aa38180bf52fc462510f107e","date_time":"12-10 01:02","status":"Pending"},{"log_id":2,"floor_name":"Binance","tx_id":"90d41de2ed4e5deecbd2d3764328a1fb4425be0f54c8d4172b57313795892194","date_time":"12-10 01:39","status":"Confirmed"}]}
      this.isLoading = false;
      if (res.status < 0) {
        global.handleError(res);
        return;
      }
      this.requestFromUser = res.data;
    },
    showTxId(txid) {
      window.open(`https://omniexplorer.info/tx/${txid}`, "_blank").focus();
    },
    showNotiUpdate(log_id) {
      global.showNoti({
        visible: true,
        header: "Update status",
        text: `Change status of request`,
        actions: [
          {
            text: "Accept",
            click: this.updateStatus.bind(this, log_id, 0)
          },
          {
            text: "Pending",
            click: this.updateStatus.bind(this, log_id, 1)
          },
          {
            text: "Success",
            click: this.updateStatus.bind(this, log_id, 2)
          },
          {
            text: "Reject",
            click: this.updateStatus.bind(this, log_id, -1)
          },
          {
            text: "Cancel",
            color: "red darken-4",
            click: global.hideNoti
          }
        ]
      });
    },
    async updateStatus(id, status, comment = "") {
      const res = await global.fetch("confirm_coin", {
        log_id: id,
        comment: comment,
        status: status
      });

      if (res.status < 0) {
        global.handleError(res);
        return;
      }

      global.showNoti({
        visible: true,
        header: "Confirm",
        text: `Success`,
        close: () => {
          location.reload();
        }
      });
    }
  },
  filters: {
    moneyText: global.moneyText
  },
  async created() {
    await this.search();
  }
};
</script>

