<template>
  <v-layout justify-center row wrap class="text-xs-center"></v-layout>
</template>

<script>
import global from "../global.js";

export default {
  data: () => ({
  }),
  computed: {},
  methods: {},
  filters: {
    moneyText: global.moneyText
  },
  async created() {
    const res = await global.fetch("report_usdt", {from_date: 20181129, to_date: 20181130, option: 0 });
    // const res = await global.fetch("add_balanceuser", { id: 18, balance: -100000 }); 
    console.log(res);
  }
};
</script>

