<template>
  <v-layout justify-center row wrap class="text-xs-center">
    <v-flex xs12 mb-2>
      <h1>Cash Statistics</h1>
    </v-flex>

    <v-flex xs12 sm6 md4 lg3 pa-2>
      <v-menu
        :close-on-content-click="false"
        v-model="startPicker"
        :nudge-right="40"
        lazy
        transition="scale-transition"
        offset-y
        full-width
        min-width="290px"
      >
        <v-text-field
          slot="activator"
          v-model="formatStartDate"
          label="From"
          prepend-icon="event"
          readonly
        ></v-text-field>
        <v-date-picker v-model="startDate"></v-date-picker>
      </v-menu>
    </v-flex>
    <v-flex xs12 sm6 md4 lg3 pa-2>
      <v-menu
        :close-on-content-click="false"
        v-model="endPicker"
        :nudge-right="40"
        lazy
        transition="scale-transition"
        offset-y
        full-width
        min-width="290px"
      >
        <v-text-field
          slot="activator"
          v-model="formatEndDate"
          label="To"
          prepend-icon="event"
          readonly
        ></v-text-field>
        <v-date-picker v-model="endDate"></v-date-picker>
      </v-menu>
    </v-flex>
    <v-flex xs12 mb-4>
      <v-btn color="primary" :loading="isLoading" :disabled="isLoading" @click="search">Search</v-btn>
    </v-flex>
    <v-flex xs12></v-flex>
    <v-flex xs12 sm6 md4 pa-2 mt-5>
      <h1>Cash In</h1>
      <v-data-table :headers="headers" :items="cashIn" class="elevation-1">
        <template slot="items" slot-scope="props">
          <td class="text-xs-center">{{ props.item.amount | moneyText }}</td>
          <td class="text-xs-center">{{ props.item.total | moneyText }}</td>
          <td class="text-xs-center">{{ props.item.executed | moneyText }}</td>
          <td class="text-xs-center">{{ props.item.remain | moneyText }}</td>
        </template>
      </v-data-table>
    </v-flex>
    <v-flex xs12 sm6 md4 pa-2 mt-5>
      <h1>Cash Out</h1>
      <v-data-table :headers="headers" :items="cashOut" class="elevation-1">
        <template slot="items" slot-scope="props">
          <td class="text-xs-center">{{ props.item.amount | moneyText }}</td>
          <td class="text-xs-center">{{ props.item.total | moneyText }}</td>
          <td class="text-xs-center">{{ props.item.executed | moneyText }}</td>
          <td class="text-xs-center">{{ props.item.remain | moneyText }}</td>
        </template>
      </v-data-table>
    </v-flex>
  </v-layout>
</template>

<script>
import global from "../global.js";

let offsetDate = new Date(
  new Date().getTime() - new Date().getTimezoneOffset() * 60000
);

export default {
  data: () => ({
    startPicker: false,
    startDate: offsetDate.toISOString().substr(0, 10),
    endPicker: false,
    endDate: offsetDate.toISOString().substr(0, 10),
    isLoading: false,
    headers: [
      { text: "Amount", sortable: false, align: "center" },
      { text: "Total", sortable: false, align: "center" },
      { text: "Done", sortable: false, align: "center" },
      { text: "Remain", sortable: false, align: "center" },
    ],
    cashIn: [],
    cashOut: []
  }),
  computed: {
    formatStartDate() {
      return global.formatDate(this.startDate);
    },
    formatEndDate() {
      return global.formatDate(this.endDate);
    },
    startDateInt() {
      return global.formatDateInt(this.startDate);
    },
    endDateInt() {
      return global.formatDateInt(this.endDate);
    }
  },
  methods: {
    async search() {
      //{amount: 0, total: 0, executed: 0, remain: 0}
      this.isLoading = true;
      const resIn = await global.fetch("report_usdt", {
        from_date: this.startDateInt,
        to_date: this.endDateInt,
        option: 0
      });

      if (resIn.status < 0) {
        this.isLoading = false;
        global.handleError(resIn);
        return;
      }

      const resOut = await global.fetch("report_usdt", {
        from_date: this.startDateInt,
        to_date: this.endDateInt,
        option: 1
      });

      this.isLoading = false;
      if (resOut.status < 0) {
        global.handleError(resOut);
        return;
      }
      this.cashIn = resIn.data;
      this.cashOut = resOut.data;
    }
  },
  filters: {
    moneyText: global.moneyText,
    parseDateInt: global.parseDateInt
  },
  async created() {
    await this.search()
  }
};
</script>

