<template>
  <v-layout justify-center row wrap class="text-xs-center">
    <v-flex xs12 mb-2>
      <h1>User Deposit</h1>
    </v-flex>
    <v-flex xs12 pa-2 mt-5>
      <v-data-table :headers="headers" :items="request" class="elevation-1">
        <template slot="items" slot-scope="props">
          <td class="text-xs-center">{{ props.item.log_id | moneyText }}</td>
          <td class="text-xs-center">{{ props.item.comment }}</td>
          <td class="text-xs-center">{{ props.item.status }}</td>
        </template>
      </v-data-table>
    </v-flex>
  </v-layout>
</template>

<script>
import global from "../global.js";

let offsetDate = new Date(
  new Date().getTime() - new Date().getTimezoneOffset() * 60000
);

export default {
  data: () => ({
    isLoading: false,
    headers: [
      { text: "#", sortable: false, align: "center" },
      { text: "Comment", sortable: false, align: "center" },
      { text: "Status", sortable: false, align: "center" },
    ],
    request: []
  }),
  computed: {},
  methods: {
    async search() {
      this.isLoading = true;
      const res = await global.fetch("confirm_coin");

      this.isLoading = false;
      if (res.status < 0) {
        global.handleError(res);
        return;
      }
      this.request = res.data;
    },
  },
  filters: {
    moneyText: global.moneyText
  },
  async created() {
    await this.search();
  }
};
</script>

