<template>
  <v-layout justify-center row wrap class="text-xs-center">
    <v-flex xs12 sm8 md6 lg4 mb-4>
      <h1>User Info</h1>
      <v-form v-model="valid" lazy-validation @submit.prevent="searchInfo">
        <v-text-field
          label="Enter user ID or nick name"
          value
          v-model="uid"
          :rules="[rules.required]"
          :disabled="isLoading"
        ></v-text-field>
      </v-form>
      <v-btn
        color="primary"
        :loading="isLoading"
        :disabled="uid == 0 || !valid || isLoading"
        @click="searchInfo"
      >Search</v-btn>
    </v-flex>
    <v-flex xs12>
    </v-flex>
    <v-flex xs12 sm8 md6 lg4 mb-4 v-if="userInfo != null">
      <v-card>
        <v-card-title>
          <div class="text-xs-center" style="margin: 0 auto;">
            <h3
              class="headline mb-0"
            >{{ userInfo && userInfo.username }}(Nick: {{ userInfo && userInfo.nick }} - ID: {{ userInfo && userInfo.userid }})</h3>
            <div>
              Balance: {{ userInfo && userInfo.balance | moneyText }} YEA (Freeze {{ userInfo && userInfo.freeze_balance | moneyText }} YEA)
              <br>
              USDT Address: {{ userInfo && userInfo.usdt_address || "" }}
              <br>
              Phone: {{ userInfo && userInfo.phone || "" }}
              <br>
              Created: {{ userInfo && userInfo.created_date }}
              <br>
              Lock Status: {{ userInfo && userInfo.isLock ? `Locked - Reason: ${ userInfo && userInfo.reason || "" }` : "No Lock" }}
            </div>
          </div>
        </v-card-title>
      </v-card>
    </v-flex>
    <v-flex xs12 v-show="userInfo && userInfo.userid  != null && userInfo && userInfo.userid != 0">
      <h1>Cashflow</h1>
      <v-data-table :headers="headers" :items="items" class="elevation-1">
        <template slot="items" slot-scope="props">
          <td class="text-xs-center">{{ props.item.id }}</td>
          <td class="text-xs-center">{{ props.item.date_time }}</td>
          <td class="text-xs-center">{{ props.item.reason_id | reasonText }}</td>
          <td class="text-xs-center">{{ props.item.money_change | moneyText }}</td>
          <td class="text-xs-center">{{ props.item.money_before | moneyText }}</td>
          <td class="text-xs-center">{{ props.item.money_after | moneyText }}</td>
        </template>
      </v-data-table>
    </v-flex>
  </v-layout>
</template>

<script>
import global from "../global.js";

export default {
  data: () => ({
    uid: "",
    isLoading: false,
    valid: false,
    rules: {
      required: v => !!v || "Required"
    },
    headers: [
      { text: "ID", sortable: false, align: "center" },
      { text: "Time", sortable: false, align: "center" },
      { text: "Reason Id", sortable: false, align: "center" },
      { text: "Money Change", sortable: false, align: "center" },
      { text: "Money Before", sortable: false, align: "center" },
      { text: "Money After", sortable: false, align: "center" }
    ],
    items: [],
    userInfo: null
  }),
  methods: {
    async searchInfo() {
      if (this.uid == 0) return;

      this.isLoading = true;

      let res = null;
      if (isNaN(this.uid)) {
        res = await global.fetch("get_userinfo", {
          uid: 0,
          nickname: this.uid
        });
      } else {
        res = await global.fetch("get_userinfo", {
          uid: this.uid,
          nickname: ""
        });
      }

      this.isLoading = false;
      if (res.status < 0) {
        global.handleError(res);
        return;
      }
      //{"status":0,"desc":null,"token":"","data":{"userid":50011,"username":"tako01","nick":"legendtako","type":0,"usdt_address":null,"phone":"+84966887364","created_date":"10-12-2018 12:00:00","isLock":false,"reason":null,"balance":1057048,"freeze_balance":0}}
      this.userInfo = res.data;

      this.search();
    },
    async search() {
      if (this.uid == 0) return;

      this.isLoading = true;

      const res = await global.fetch("history_coin", {
        uid: this.uid,
        totalRow: 1000
      });

      this.isLoading = false;
      if (res.status < 0) {
        global.handleError(res);
        return;
      }
      this.items = res.data.reverse();
    }
  },
  filters: {
    moneyText: global.moneyText,
    reasonText: reasonId => {
      let reasons = {
        1: "Admin cộng tiền",
        2: "Admin trừ tiền",
        3: "Lấy otp",
        4: "Đóng băng số dư",
        5: "Mở đóng băng số dư",
        6: "Chuyển khoản(deleted)",
        7: "Nhận chuyển khoản(deleted)",
        8: "Nạp thẻ cào",
        9: "Nạp sms",
        10: "Đổi thẻ",
        11: "Chuyển phỉnh sang xu",
        12: "Chuyển xu sang phỉnh",
        13: "Giam tiền game bài",
        14: "Trả tiền game bài bị giam",
        15: "Trúng thưởng VQMM",
        16: "Bet game",
        17: "Nhận giftcode",
        18: "Chuyển khoản",
        19: "Nhận chuyển khoản",
        20: "Chuyển coin sang xu cá",
        21: "Chuyển xu cá sang coin",
        23: "Chơi ăn gian ",
        24: "Đổi Vippoint",
        25: "	Giam tiền poker",
        26: "	Mở giam tiền poker",
        27: "	Xác nhận user nạp tiền thành công",
        28: "	User trả tiền game all in one",
        29: "	Đại lý thu hồi tiền game all in one",
        30: "	Cộng tiền khi cập nhật sdt",
        31: "	User Withdraw"
      };
      return reasons[reasonId];
    }
  },
  created() {}
};
</script>

