<template>
  <v-layout 
    justify-center
    row
    wrap
    class="text-xs-center"
  >
    <v-flex 
      xs12 
      sm8 
      md6 
      lg4
      class="mb-5"
    >
      <h1>CCU Game</h1>
      <v-select
        v-model="selectGame"
        :items="listGame"
        item-text="game_name"
        item-value="gameid"
        return-object
        label="Game"
      ></v-select>
      <v-btn
        color="primary"
        :loading="isLoading" 
        :disabled="selectGame == 0 || isLoading" 
        @click="viewCCU(selectGame)"
      >
        View
      </v-btn>
      <br/>
      OR
      <br/>
      <v-btn
        color="primary"
        :loading="isLoading" 
        :disabled="isLoading" 
        @click="getAllCCU"
      >
        View All
      </v-btn>
    </v-flex>

    <v-flex xs12>
        <v-data-iterator
        :items="items"
        :rows-per-page-items="rowsPerPageItems"
        :pagination.sync="pagination"
        content-tag="v-layout"
        row
        wrap
      >
        <v-flex
          slot="item"
          slot-scope="props"
          xs12
          sm4
          md3
          lg2
        >
          <v-card class="ma-1">
            <v-card-title><h4>{{ props.item.gameName }}</h4></v-card-title>
            <v-divider></v-divider>
            <v-card-text>{{ props.item.ccu }}</v-card-text>
          </v-card>
        </v-flex>
      </v-data-iterator>
    </v-flex>

    <v-flex 
      xs12 
      sm6 
      md4 
      lg3
      class="mt-5"
    >
      <v-menu
        :close-on-content-click="false"
        v-model="nruPicker"
        :nudge-right="40"
        lazy
        transition="scale-transition"
        offset-y
        full-width
        min-width="290px"
      >
        <v-text-field
          slot="activator"
          v-model="formatNruDate"
          label="NRU Date"
          prepend-icon="event"
          readonly
        ></v-text-field>
        <v-date-picker v-model="nruDate"></v-date-picker>
      </v-menu>
      <v-btn
        color="primary"
        @click="getNRU"
      >
        View
      </v-btn>
      <v-card class="ma-3">
        <v-card-title><h1>NRU</h1></v-card-title>
        <v-divider></v-divider>
        <v-card-text>{{ nru }}</v-card-text>
      </v-card>
    </v-flex>
    
    <v-flex 
      xs12 
      sm6 
      md4 
      lg3
      class="mt-5"
    >
      <v-menu
        :close-on-content-click="false"
        v-model="dauPicker"
        :nudge-right="40"
        lazy
        transition="scale-transition"
        offset-y
        full-width
        min-width="290px"
      >
        <v-text-field
          slot="activator"
          v-model="formatDauDate"
          label="DAU Date"
          prepend-icon="event"
          readonly
        ></v-text-field>
        <v-date-picker v-model="dauDate"></v-date-picker>
      </v-menu>
      <v-btn
        color="primary"
        @click="getDAU"
      >
        View
      </v-btn>
      <v-card class="ma-3">
        <v-card-title><h1>DAU</h1></v-card-title>
        <v-divider></v-divider>
        <v-card-text>{{ dau }}</v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import global from "../global.js";

let offsetDate = new Date(
  new Date().getTime() - new Date().getTimezoneOffset() * 60000
);

export default {
  data: () => ({
    selectGame: 0,
    isLoading: false,
    listGame: [],
    rowsPerPageItems: [6, 12, 18],
    pagination: { rowsPerPage: 18 },
    items: [],
    nru: 0,
    nruPicker: false,
    nruDate: offsetDate.toISOString().substr(0, 10),
    dau: 0,
    dauPicker: false,
    dauDate: offsetDate.toISOString().substr(0, 10)
  }),
  computed: {
    formatNruDate() {
      return global.formatDate(this.nruDate);
    },
    formatDauDate() {
      return global.formatDate(this.dauDate);
    },
    nruDateInt() {
      return global.formatDateInt(this.nruDate);
    },
    dauDateInt() {
      return global.formatDateInt(this.dauDate);
    }
  },
  methods: {
    async viewCCU() {
      this.items = [];
      const ccu = await this.getCCU(this.selectGame.gameid);
      this.items.push({
        gameId: this.selectGame.gameid,
        gameName: this.selectGame.game_name,
        ccu: ccu
      });
    },
    async getCCU(gameId) {
      this.isLoading = true;
      const res = await global.fetch("view_ccu", { game_id: gameId });
      this.isLoading = false;

      if (res.status < 0) {
        global.handleError(res);
        return "error";
      }
      return res.data;
    },
    async getAllCCU() {
      this.items = [];
      for (const game of this.listGame) {
        const ccu = await this.getCCU(game.gameid);
        this.isLoading = true;
        if (ccu == "error") {
          return;
        }
        this.items.push({
          gameId: game.gameid,
          gameName: game.game_name,
          ccu: ccu
        });
      }
      this.isLoading = false;
    },
    async getNRU() {
      const res = await global.fetch("view_nru", { date_int: this.nruDateInt });

      if (res.status < 0) {
        global.handleError(res);
        return;
      }
      this.nru = res.data;
    },
    async getDAU() {
      const res = await global.fetch("view_dau", { date_int: this.dauDateInt });

      if (res.status < 0) {
        global.handleError(res);
        return;
      }
      this.nru = res.data;
    }
  },
  filters: {
    moneyText: global.moneyText
  },
  async created() {
    this.listGame = await global.getListGame();
    // this.getNRU();
    // this.getDAU();
  }
};
</script>

