<template>
  <v-toolbar :clipped-left="$vuetify.breakpoint.lgAndUp" color="blue darken-3" dark fixed app>
    <v-toolbar-title style="width: 300px" class="ml-0 pl-3">
      <v-toolbar-side-icon @click.stop="$emit('update:navigator', !navigator)"></v-toolbar-side-icon>
      <span class="hidden-sm-and-down">Yeaz CMS</span>
    </v-toolbar-title>
    <v-spacer></v-spacer>
    <v-toolbar-items v-if="auth && accInfo">
      <div class="text-xs-center" style="margin: auto">
        <v-chip>
          <v-avatar class="teal">{{ accInfo.full_name.substr(0, 1).toUpperCase() }}</v-avatar>
          <div>
            {{ accInfo.full_name }}
            <br>
            <b>{{ accInfo.role }}</b>
          </div>
        </v-chip>
      </div>
      <v-btn icon @click="logout">
        <v-icon>exit_to_app</v-icon>
      </v-btn>
    </v-toolbar-items>
    <v-toolbar-items v-else>
      <v-text-field
        label="Username"
        value
        v-model="user"
        :rules="[rules.required]"
        :disabled="isLoading"
        validate-on-blur
        style="margin: auto 10px"
        @keyup.tab="$event.target.nextElementSibling.focus()"
        @keyup.enter="login"
      ></v-text-field>
      <v-text-field
        :append-icon="showPass ? 'visibility_off' : 'visibility'"
        :type="showPass ? 'text' : 'password'"
        label="Password"
        value
        v-model="pass"
        :rules="[rules.required]"
        :disabled="isLoading"
        validate-on-blur
        @click:append="showPass = !showPass"
        @keyup.enter="login"
        style="margin: auto 10px"
      ></v-text-field>
      <v-btn icon :loading="isLoading" :disabled="isLoading" @click="login">
        <v-icon>send</v-icon>
      </v-btn>
    </v-toolbar-items>
  </v-toolbar>
</template>

<script>
import global from "../global.js";

export default {
  props: {
    navigator: Boolean,
    auth: Boolean,
    dialog: Object
  },
  data: () => ({
    accInfo: null,
    showPass: false,
    isLoading: false,
    user: "",
    pass: "",
    rules: {
      required: v => !!v || "Required"
      // min: v => v.length >= 6 || "Min 6 characters"
    }
  }),
  methods: {
    async login() {
      if (!this.user || !this.pass) return;

      this.isLoading = true;
      const res = await global.fetch("login", {
        username: this.user,
        password: this.pass
      });
      this.isLoading = false;
      if (res.status >= 0) {
        this.accInfo = res.data;
        localStorage.setItem("gcms:accInfo", JSON.stringify(res.data));
        this.$emit("update:auth", true);
        this.$emit("update:navigator", true);
        this.user = this.pass = "";
        this.showPass = false;
        this.$router.push('/cash-statistics');
      } else {
        global.showNoti({
          visible: true,
          header: "Error",
          text: res.desc
        });
      }
    },
    logout() {
      global.showNoti({
        visible: true,
        header: "Logout",
        text: "Do you want to logout?",
        actions: [
          {
            text: "Stay",
            click: global.hideNoti
          },
          {
            text: "Logout",
            color: "red darken-4",
            click: global.logout
          }
        ]
      });
    }
  },
  created() {
    this.accInfo = global.getAccInfo();
  }
};
</script>