<template>
  <v-navigation-drawer
    :clipped="$vuetify.breakpoint.lgAndUp"
    :value="navigator"
    fixed
    app
  >
    <v-list v-if="auth">
      <template v-for="item in items">
        <v-list-group
          v-if="item.children"
          v-model="item.model"
          :key="item.text"
          :prepend-icon="item.model ? item.icon : item['icon-alt']"
          append-icon=""
        >
          <v-list-tile slot="activator">
            <v-list-tile-content>
              <v-list-tile-title>
                {{ item.text }}
              </v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-list-tile
            v-for="(child, i) in item.children"
            :key="i"
          >
            <v-list-tile-action v-if="child.icon">
              <v-icon>{{ child.icon }}</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>
                {{ child.text }}
              </v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list-group>

        <v-list-tile class="v-list__tile--link" v-else :key="item.text" @click="itemClick(item)">
          <v-list-tile-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>
              {{ item.text }}
            </v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </template>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
export default {
  data: () => ({
    items: [
      {
        icon: "trending_up",
        text: "Cash Statistics",
        link: "/cash-statistics"
      },
      {
        icon: "assignment",
        text: "Cash In",
        link: "/cash-in"
      },
      {
        icon: "assignment",
        text: "Cash Out",
        link: "/cash-out"
      },
      // {
      //   icon: "account_balance_wallet",
      //   text: "Pending Transaction",
      //   link: "/pending"
      // },
      // {
      //   icon: "account_balance_wallet",
      //   text: "User Request Deposit",
      //   link: "/user-deposit"
      // },
      {
        icon: "attach_money",
        text: "Game Revenue",
        link: "/game-revenue"
      },
      {
        icon: "account_box",
        text: "User Info",
        link: "/user-info"
      },
      {
        icon: "person_pin",
        text: "View CCU",
        link: "/view-ccu"
      }
    ]
  }),
  methods: {
    itemClick(item) {
      this.$router.push(item.link);
    }
  },
  props: {
    navigator: Boolean,
    auth: Boolean
  }
};
</script>

<style scoped>
.v-list__tile--link a {
  color: black;
}
</style>
