<template>
   <v-dialog v-model="dialog.visible" width="800px">
      <v-card>
      <v-card-title
        v-if="dialog.header && dialog.header.length > 0"
        class="grey lighten-4 py-4 title"
      >
        <v-spacer></v-spacer>
        {{ dialog.header }}
        <v-spacer></v-spacer>
      </v-card-title>
      <v-container>
        <v-layout row wrap justify-center>
          <span>{{ dialog.text }}</span>
        </v-layout>
      </v-container>
      <v-card-actions v-if="dialog.actions && dialog.actions.length > 0">
        <v-spacer></v-spacer>
        <v-btn
          v-for="(action, i) in dialog.actions"
          :key="'action' + i"
          flat
          :color="action.color || 'primary'"
          @click="action.click && action.click()"
        >
          {{ action.text }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  props: {
    dialog: Object
  },
  watch: {
    dialog: {
      handler(val) {
        if (val.visible == false && val.close) {
          val.close();
        }
      },
      deep: true
    }
  }
};
</script>