<template>
  <v-app id="app">
    <Navigator :navigator.sync="navigator" :auth="isAuth"></Navigator>
    <Header 
      :navigator.sync="navigator" 
      :auth.sync="isAuth"
      :dialog.sync="dialog"
    ></Header>
    <v-content>
      <v-container fluid>
        <router-view/>
      </v-container>
    </v-content>
    <Notification :dialog="dialog"></Notification>
  </v-app>
</template>

<script>
import Navigator from "./components/Navigator.vue";
import Header from "./components/Header.vue";
import Notification from "./components/Notification.vue";
import global from "./global.js";

export default {
  components: {
    Header,
    Navigator,
    Notification
  },
  data: () => ({
    dialog: {
      header: "",
      visible: false,
      text: ""
    },
    navigator: false,
    isAuth: false
  }),
  watch: {
    navigator() {
      !this.isAuth && (this.navigator = false);
    }
  },
  created() {
    global.registerApp(this);
    
    const accInfoTimestamp = localStorage.getItem("gcms:last-action-ts");

    if(!accInfoTimestamp || +accInfoTimestamp + 3600000 < new Date().getTime()) {//Over 1 hour
      localStorage.removeItem("gcms:accInfo");
      localStorage.removeItem("gcms:last-action-ts");
      localStorage.removeItem("gcms:jwt");
    }

    this.navigator = this.isAuth = global.loggedIn();
  }
};
</script>

<style>
/* .router-link-active {
  font-weight: bold;
  color: #0070ba;
  text-decoration: none;
}

.router-link-active:hover {
  text-decoration: underline;
} */
</style>
